body {
    font-family: Helvetica, arial, sans-serif;
    font-weight: normal;
    line-height: 1.6em;
    font-size: 12px;
    letter-spacing: 0px;
    font-family: "europa";
    line-height: 1.8em;
    letter-spacing: .04em;
    font-weight: 300;
    font-style: normal;
    font-size: 14px;
    -webkit-font-smoothing: subpixel antialiasing !important;
}

body {
    background-color: #fff;
    color: #666;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Varela Round, arial, sans-serif;
    font-weight: normal;
    line-height: 1.4em;
    text-transform: normal;
    font-size: 24px;
    letter-spacing: 0px;
    font-family: "europa";
    font-size: 26px;
    line-height: 1.2em;
    text-transform: none;
    letter-spacing: .01em;
    font-weight: 700;
    font-style: normal;
    margin: 1em 0 .5em;
}

h1 a,
h2 a,
h3 a,
h4 a,
.comment-count a,
h1 a:visited,
h2 a:visited,
h3 a:visited,
h4 a:visited,
.comment-count a:visited {
    color: #111;
}

a,
a:visited {
    color: #000;
    text-decoration: none;
}

a {
    color: #0085b6;
    text-decoration: initial;
}

#header:before,
#page:before,
#footer:before,
footer:before,
.clear:before,
#header:after,
#page:after,
#footer:after,
footer:after,
.clear:after {
    content: "";
    display: table;
}

@media only screen and (max-width: 800px) {
    #logo {
        width: 100%;
        margin-right: 0;
        text-align: center;
        margin-bottom: 10px;
    }
}

h1 {
    font-size: 26px;
}

@media only screen and (max-width: 800px) {

    .site-title h1.logo,
    .logo-subtitle {
        display: block;
    }
}

.logo-subtitle {
    font-family: "Helvetica", arial, sans-serif;
    font-weight: normal;
    text-transform: normal;
    letter-spacing: 0px;
    font-family: "europa";
    line-height: 2em;
    text-transform: none;
    letter-spacing: .04em;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    color: #aaa;
}