/* Navigation */
header {
    margin: 0 auto;
    display: block;
    max-width: 700px;
    text-align: center;
}

h1 {
    font-size: 26px;
}

ul {
    padding: 0;
}

.logo-subtitle {
    font-family: "Helvetica", arial, sans-serif;
    font-weight: normal;
    text-transform: normal;
    letter-spacing: 0px;
    font-family: "europa";
    line-height: 2em;
    text-transform: none;
    letter-spacing: .04em;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    color: #aaa;
}

.main-nav li {
    list-style: none;
}




.main-nav a,
.main-nav span {
    font-stretch: condensed;
    font-weight: 600;
    height: 44px;
    text-align: center;
    font-size: 16px;
    line-height: 2.5;
    cursor: pointer;
    margin: 0;
    color: #9c9c9c;
}

.subnav {
    display: none;
}

#backToThumbs {
    display: none;
}

@media only screen and (max-width: 800px) {
    #logo {
        width: 100%;
        margin-right: 0;
        text-align: center;
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 800px) {

    .site-title h1.logo,
    .logo-subtitle {
        display: block;
    }
}

@media only screen and (max-width: 56.94443em) {

    .main-nav ul li {
        display: none;
    }

    .main-nav span {
        display: block;
        height: auto;

    }

    .main-nav.clicked ul li {
        display: block;
    }

    .main-nav ul li a {
        display: block;
    }

    .main-nav ul {
        margin: 14px 32px;
    }
}

@media only screen and (min-width: 56.94444em) {
    .main-nav li {
        display: inline-block;
        margin: 0 20px;
    }

    .main-nav li:hover .subnav {
        z-index: 2;
        display: block;
    }

    .subnav {
        position: absolute;
        background-color: white;
        box-shadow: 0px 1px 5px #999;
    }

    li.gallery-collection {
        display: block;
        padding: 0 8px;
        text-align: left;
        border-top: 1px solid #eee;
        margin:0;
    }
    .gallery-collection a{
        text-align: left;
        display: block;
        padding: 4px 0;
    }
}