/* Navigation */
header {
    margin: 0 auto;
    display: block;
    max-width: 700px;
    text-align: center;
}

h1 {
    font-size: 26px;
}

.logo-subtitle {
    font-family: "Helvetica", arial, sans-serif;
    font-weight: normal;
    text-transform: normal;
    letter-spacing: 0px;
    font-family: "europa";
    line-height: 2em;
    text-transform: none;
    letter-spacing: .04em;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    color: #aaa;
}

.main-nav li {
    list-style: none;
}

/* .main-nav a:not(.active) {
    display: none;
} */


ul {
    padding: 0;
}

.active,
.main-nav a {
    all: unset;
    font-stretch: condensed;
    font-weight: 600;
    cursor: pointer;
    height: 44px;
    display: block;
    text-align: center;
    font-size: 16px;
    line-height: 2.5;

    cursor: pointer;
    margin: 0;
    color: #9c9c9c;
}

.subnav {
    display: none;
}

.dropdown-hide a:not(.active) {
    display: none;
}

.link-hide {
    display: none !important;
}


#backToThumbs {
    display: none;
}

@media only screen and (max-width: 800px) {
    #logo {
        width: 100%;
        margin-right: 0;
        text-align: center;
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 800px) {

    .site-title h1.logo,
    .logo-subtitle {
        display: block;
    }
}