*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.grid {
    max-width: 69em;
    margin: 30px auto;
    padding: 0;

  }
  
  /* clear fix */
  .grid:after {
    content: '';
    display: block;
    clear: both;
  }
  
  /* ---- .grid-item ---- */
  
  .grid-sizer,
  .grid-item {
    width: 33.333%;
  }
  
  .grid-item {
    float: left;
    padding: 7px;
    list-style: none;
  }
  
  .grid-item img {
    display: block;
    max-width: 100%;
  }
  

  @media screen and (max-width: 400px){
    .grid li {
        width: 100%;
    }
  }

  @media screen and (max-width: 900px){
    .grid li {
        width: 50%;
    }
  }
